
	<web-app>
		<servlet>
			<description>
			</description>
			<display-name>
			GetAllUserServlet</display-name>
			<servlet-name>GetAllUserServlet</servlet-name>
			<servlet-class>
			photoalbum.servlet.web.GetAllUserServlet</servlet-class>
		</servlet>
		<servlet>
			<description>
			</description>
			<display-name>
			DeletePictureServlet</display-name>
			<servlet-name>DeletePictureServlet</servlet-name>
			<servlet-class>
			photoalbum.servlet.web.DeletePictureServlet</servlet-class>
		</servlet>
		<servlet>
			<description>
			</description>
			<display-name>
			RenamePictureServlet</display-name>
			<servlet-name>RenamePictureServlet</servlet-name>
			<servlet-class>
			photoalbum.servlet.web.RenamePictureServlet</servlet-class>
		</servlet>
		
		<servlet>
			<description>
			</description>
			<display-name>
			RegisterServlet</display-name>
			<servlet-name>RegisterServlet</servlet-name>
			<servlet-class>
			photoalbum.servlet.web.RegisterServlet</servlet-class>
		</servlet>
		<servlet>
			<description>
			</description>
			<display-name>
			ShowAllPictuers</display-name>
			<servlet-name>ShowAllPictuers</servlet-name>
			<servlet-class>
			photoalbum.servlet.web.ShowAllPictuers</servlet-class>
		</servlet>
		<servlet>
  <description /> 
  <display-name>LoginServlet</display-name> 
  <servlet-name>LoginServlet</servlet-name> 
  <servlet-class>photoalbum.servlet.web.LoginServlet</servlet-class> 
  </servlet>
  <servlet>
		<description>
		</description>
		<display-name>
		SearchServlet</display-name>
		<servlet-name>SearchServlet</servlet-name>
		<servlet-class>
		photoalbum.servlet.web.SearchServlet</servlet-class>
	</servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>
  	ExitServlet</display-name>
  	<servlet-name>ExitServlet</servlet-name>
  	<servlet-class>
  	photoalbum.servlet.web.ExitServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>
  	CommentServlet</display-name>
  	<servlet-name>CommentServlet</servlet-name>
  	<servlet-class>
  	photoalbum.servlet.web.CommentServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>
  	PageServlet</display-name>
  	<servlet-name>PageServlet</servlet-name>
  	<servlet-class>
  	photoalbum.servlet.web.PageServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>
  	ShowPageServlet</display-name>
  	<servlet-name>ShowPageServlet</servlet-name>
  	<servlet-class>
  	photoalbum.servlet.web.ShowPageServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>
  	ConnectionServlet</display-name>
  	<servlet-name>ConnectionServlet</servlet-name>
  	<servlet-class>
  	photoalbum.web.servlets.ConnectionServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>
  	SearchPhotoServlet</display-name>
  	<servlet-name>SearchPhotoServlet</servlet-name>
  	<servlet-class>
  	photoalbum.servlet.web.SearchPhotoServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>
  	DeleteCategoryServlet</display-name>
  	<servlet-name>DeleteCategoryServlet</servlet-name>
  	<servlet-class>
  	photoalbum.servlet.web.DeleteCategoryServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>
  	RenameCategoryServlet</display-name>
  	<servlet-name>RenameCategoryServlet</servlet-name>
  	<servlet-class>
  	photoalbum.servlet.web.RenameCategoryServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>
  	AddNewCategoryServlet</display-name>
  	<servlet-name>AddNewCategoryServlet</servlet-name>
  	<servlet-class>
  	photoalbum.servlet.web.AddNewCategoryServlet</servlet-class>
  </servlet>
		<servlet-mapping>
			<servlet-name>GetAllUserServlet</servlet-name>
			<url-pattern>/GetAllUserServlet</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
			<servlet-name>GetAllUserServlet</servlet-name>
			<url-pattern>/allUser</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
			<servlet-name>SearchServlet</servlet-name>
			<url-pattern>/SearchServlet</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
			<servlet-name>RegisterServlet</servlet-name>
			<url-pattern>/RegisterServlet</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
			<servlet-name>ShowAllPictuers</servlet-name>
			<url-pattern>/ShowAllPictuers</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
			<servlet-name>DeletePictureServlet</servlet-name>
			<url-pattern>/DeletePictureServlet</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
			<servlet-name>RenamePictureServlet</servlet-name>
			<url-pattern>/RenamePictureServlet</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
  <servlet-name>LoginServlet</servlet-name> 
  <url-pattern>/LoginServlet</url-pattern> 
  </servlet-mapping>
		<servlet-mapping>
			<servlet-name>ExitServlet</servlet-name>
			<url-pattern>/ExitServlet</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
			<servlet-name>ExitServlet</servlet-name>
			<url-pattern>/exit</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
			<servlet-name>CommentServlet</servlet-name>
			<url-pattern>/CommentServlet</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
			<servlet-name>PageServlet</servlet-name>
			<url-pattern>/PageServlet</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
			<servlet-name>ShowPageServlet</servlet-name>
			<url-pattern>/ShowPageServlet</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
			<servlet-name>ConnectionServlet</servlet-name>
			<url-pattern>/connection</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
			<servlet-name>SearchPhotoServlet</servlet-name>
			<url-pattern>/SearchPhotoServlet</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
			<servlet-name>DeleteCategoryServlet</servlet-name>
			<url-pattern>/DeleteCategoryServlet</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
			<servlet-name>RenameCategoryServlet</servlet-name>
			<url-pattern>/RenameCategoryServlet</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
			<servlet-name>AddNewCategoryServlet</servlet-name>
			<url-pattern>/AddNewCategoryServlet</url-pattern>
		</servlet-mapping>

		
	</web-app>
