html, body {
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: white;
	color: black;
}

h1,h2 {
	font-size: inherit;
	padding: inherit;
	margin: inherit;
	float: inherit;
}

form {
	padding:0;
	margin: 0;
}
.flat {
	padding:0;
	margin:0;
}
a {
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a:hover {
	text-decoration: underline;
}
a img {
	border: none;
}
input {
	/*border: 1px solid black;*/
}
hr {
	color: #E8E8E8;
	background-color: #E8E8E8;
	border: none;
	height: 1px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.nospacing {
	padding: 0px;
	margin: 0px;
}
.noborder {
	border: none !important;
}
.inputBorder {
	border: 1px solid #7F9DB9;
}
.redb {
	border: 1px solid red !important;
}

.inline {
	display: inline;
}
.image {
	border: 1px solid #e8e8e8;
	padding: 4px;
}
.imageOnline {
	border: 2px solid #339933;
	background-color: white;
	padding: 4px;
}
.imageOffline {
	border: 2px solid #B2B2B2;
	background-color: white;
	color: white;
	padding: 4px;
}
.divOnlineImage {
	width: 108px;
	font-size: 9px;
	line-height: 0.8;
	text-align: left;
	padding-bottom: 3px;
	background: #339933;
	color: white;
	border: 1px solid #339933;
}
.divOnlineImage img {
	padding:3px;
}
.divOfflineImage img {
	padding:4px;
}
.divOfflineImage {
	width: 108px;
	font-size: 9px;
	line-height: 0.8;
	text-align: left;
	padding-bottom: 3px;
	background: #B2B2B2;
	color: white;
	border: 1px solid #B2B2B2;
}
.paging {
	padding-top: 10px;
	padding-left: 0px;
/* 	padding-left: 25px; */
	padding-right: 25px;
}
.separator {
	margin:0;
	padding:0;
	padding-left: 5px;
	padding-right: 5px;
	color: white;
}
.flex {
	width: 100%;
	/*height: 100%;*/
}
.hide {
	display:none;
}
.downImg img {
	position: relative;
	top: 2px;
}
.noBgImage {
	background-image: none !important;
}
.filterTD {
	/*border-bottom: 1px solid #e8e8e8;
	padding-bottom: 2px;*/
}
.filterTable {
	width: 580px;
	padding: 0px 5px 5px 5px;
	border-bottom: 1px solid #e8e8e8;
}
.filterTable img {
	position: relative;
	top:2px;
}
.bold {
	font-weight: bold;
}
.italic {
	font-style: italic;
}
.underline {
	text-decoration: underline;
}
.black {
	color: black;
}
.center {
	text-align: center;
}
.vcenter {
	vertical-align: middle;
}
.vtop {
	vertical-align: top;
}
.vbottom {
	vertical-align: bottom;
}
.grey {
	color: #999999;
}
.red {
	color: red;
}
.white {
	color: white;
}

.margin25 {
	margin-right: 25px;
}

.date {
	color: #999999;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
}

.link {
	font: 12px Arial, Helvetica, sans-serif;
}

.fontArial {
	font-family: Arial, Helvetica, sans-serif;
}
.fontVerdana {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.size11 {
	font-size: 11px;
}
.size10 {
	font-size: 10px;
}
.size9 {
	font-size: 9px;
}

/*colors*/
	.profileColor {
		color: #FF3300;
	}
	.videoColor {
		color: #9801CC;
	}
	.photoColor {
		color: #0C9098;
	}
	.userColor {
		color: #339933;
	}
	.blogColor {
		color: #BB0569;
	}
	.groupColor {
		color: #3535AE;
	}
	.searchColor {
		color: #339933;
	}
	.tagColor {
		color: #FF9900;
	}
	.messagesColor {
		color: #3366FF;
	}
	.invColor {
		color: #DF0086;
	}
	.profileColor {
		color: #FF3300;
	}
	.friendsColor {
		color: #006600;
	}
	.favoritesColor {
		color: #FFA100;
	}
	.startColor {
		color: #FFA100;
	}
	.whiteColor {
		color: white;
	}
	.blackColor {
		color: black;
	}
	.registeredColor {
		color: #9800cc;
	}
/*colors end*/

.siteLogo {
	/*text-align:center;*/
	height: 90px;
	margin:0;
	padding-left: 30px;
	padding-top: 5px;
}
/*main search*/
	.mainSearch {
		width: 500px;
		height: 70px;
		float:right;
		padding-right: 20px;
		padding-top: 0px;
	}
	.mainSearchBox {
		width: 375px;
		border: 1px solid black;
		height: 18px;
		padding:0;
		margin:0;
	}
	.mainSearchCurrent {
		font-weight: bold;
	}
	.mainSearchMenu {
		margin-bottom: 5px;
		padding-left: 30px;
	}
	.mainSearchMenu a {
		color: #646464;
		text-decoration: none;
	}
/*main search menu*/
.main_table {
	width: 950px; 
	height: 620px;
}

.tableContents {
	padding: 10px;
	padding-left: 0;
	padding-right: 0px;
/*  	border: 1px solid black;  */
}

/*banners*/
	.rightBanner {
		/*padding: 20px;*/
		/*border: 1px solid red;*/
	}
	.rightBannerTall {
		padding: 0;
		padding-top: 10px;
	}
	.rightBannerSqare {
		margin:0;
		padding: 0px;
		padding-right: 0px;
		padding-top: 10px;
		text-align: center;
	}
/*banners end*/

.mainMenu {
	font-size: 12px;
	font-family: 'Verdana';
	padding:0;
	margin:0;
	height: 20px;
}

.subMenu {
	font-size: 12px;
	font-family: 'Verdana';
	color: white;
}
.subMenu a {
	color: white;
}

.bottomMenu {
	width: 950px;
	text-align: center; 
	font-size: 11px;
	font-family: 'Verdana';
	color: white;
/* 	margin-bottom: 2px; */
}

.tab {
	float:left;
	margin:0px;
	padding:5px;
	/*background-color:#DFDFDF;*/
	border: 1px solid #7F7F7F;
	cursor:default;
}
.msgReceiver {
	width: 400px;
	border: 1px solid #7F7F7F;
}
.selectedTab {
	background-color: #DFDFDF;
	border-bottom:#DFDFDF;
}

.accSettings td {
	padding-top: 3px;
	padding-bottom: 3px;
}
.accSettingsTitle {
	font-weight: bold;
}


.divSelectedImage {
	float: left; 
	padding: 5px; 
	text-align: center; 
	border: 1px solid black;
}

.divCurrentImage {
	float: left; 
	padding: 5px; 
	text-align: center; 
	border: 1px dotted black;
}

.divNotSelectedImage {
	float: left; 
	padding: 5px; 
	text-align: center; 
}

/* single tabs */
	.largeTabTable {
		width: 590px;
	}
	.megaLargeTab {
		height: 29px;
		padding-left: 10px;
		width: 950px;
		background-image: url('../img/back_menu_active_groups_extra_large.png');
		background-repeat: no-repeat;
	}
	.extraLargeTab {
		height: 29px;
		padding-left: 10px;
		width: 770px;
		background-image: url('../img/back_menu_active_groups_large.png');
		background-repeat: no-repeat;
	}
	.largeTab {
		height: 29px;
		padding-left: 10px;
		width: 590px;
		background-image: url('../img/back_menu_active_groups_big.png');
		background-repeat: no-repeat;
	}
	.smallTab {
		width: 325px;
		height: 23px;
		text-align: left;
		font-weight: bold;
		background-image: url('../img/back_menu_active_groups.png');
		background-repeat: no-repeat;
		padding:0;
		margin:0;
		padding-top: 6px;
		padding-left: 15px;
	}
	.smallTabComments {
		width: 325px;
		height: 29px;
		text-align: left;
		font-weight: bold;
		background-image: url('../img/back_menu_active_groups.png');
		background-repeat: no-repeat;
		padding:0;
		margin:0;
		padding-top: 0px;
		padding-left: 15px;
	}
	.singleTabActive {
		height: 29px;
		padding-left: 10px;
		width: 430px;
		background-image: url('../img/tab_a_single.gif');
		background-repeat: no-repeat;
	}
/* single tabs end */

/* tabs big */
	.bigTabIa {
		float:left;
		width: 197px;
		height: 23px;
		text-align: center;
		font-weight: bold;
		background-image: url('../img/bck_ia.png');
		background-repeat: no-repeat;
		padding:0;
		margin:0;
		padding-top: 6px;
		cursor: pointer;
	}
	.bigTabIa a {
		text-align: center;
		font-weight: bold;
		text-decoration: none;
	}
	.bigTabIa a:hover {
		text-decoration: underline;
	}
	
	.bigTabSelected {
		background-image: url('../img/back_menu_active.png');
		border-bottom: none;
		width: 197px;
		border-right: 1px solid #e8e8e8;
	}
	
	.bigTabFirstIa {
		background-image: url('../img/bck_ia_first.png');
	}
	.bigTabLastIa {
	}
/* tabs big end */
/* tabs large */
	.largeTabIa {
		float:left;
		width: 255px;
		height: 23px;
		text-align: center;
		font-weight: bold;
		background-image: url('../img/bck_ia_large.png');
		background-repeat: no-repeat;
		padding:0;
		margin:0;
		padding-top: 6px;
		cursor: pointer;
	}
	.largeTabIa a {
		text-align: center;
		font-weight: bold;
		text-decoration: none;
	}
	.largeTabIa a:hover {
		text-decoration: underline;
	}
	
	.largeTabSelected {
		background-image: url('../img/back_menu_active_large.png');
		border-bottom: none;
		width: 255px;
		border-right: 1px solid #e8e8e8;
	}
	
	.largeTabFirstIa {
		background-image: url('../img/bck_ia_first_large.png');
	}
	.medTabLastIa {
	}
/* tabs med end */
/* tabs small */
	.smallTabIa {
		float:left;
		width: 170px;
		height: 23px;
		text-align: center;
		font-weight: bold;
		background-image: url('../img/bck_ia_blogs.png');
		background-repeat: no-repeat;
		padding:0;
		margin:0;
		padding-top: 6px;
		cursor: pointer;
	}
	.smallTabIa a {
		text-align: center;
		font-weight: bold;
		text-decoration: none;
	}
	.smallTabIa a:hover {
		text-decoration: underline;
	}
	
	.smallTabSelected {
		background-image: url('../img/back_menu_active_blogs.png');
		border-bottom: none;
		width: 170px;
		border-right: 1px solid #e8e8e8;
	}
	
	.smallTabFirstIa {
		background-image: url('../img/bck_ia_blogs_first.png');
	}
	.smallTabLastIa {
	}
/* tabs small end */
/* tabs all */
	.header {
		font-weight: bold;
		padding-left: 10px;
		text-align: left;
	}
	.tabsTable {
/* 		background-color: white; */
		border-top: none;
		padding: 0px;
		margin: 0px;
		margin-top:10px;
		margin-bottom:10px;
	}
	.tabsDescriptionTd {
		border-left: 1px solid #e8e8e8;
		border-right: 1px solid #e8e8e8;
	}
	.rightBorder {
		border-right: 1px solid #e8e8e8;
	}
	.leftBorder {
		border-left: 1px solid #e8e8e8;
	}
	.tabsMore {
		height: 25px;
		text-align: right;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-right: 25px;
		border-left: 1px solid #e8e8e8;
		border-right: 1px solid #e8e8e8;
		border-bottom: 1px solid #e8e8e8;
	}
	.borderB {
		border-bottom: 1px solid #e8e8e8;
	}
/* tabs all end */
/* video profile */
	.profileVideoSmall {
		float: left;
		padding-left: 30px;
		padding-top: 0px;
		padding-bottom: 20px;
		width: 260px;
		height: 80px;
		overflow: hidden;
	}
	.profileVideoSmallDescription {
		width: 100%;
		height: 100%;
	}
	.profileVideoSmallThumb {
		width: 100px;
		height: 100px; 
		text-align: center;
		vertical-align: middle;
	}
	.profileVideoSmallInfo {
		padding-left: 5px;
		vertical-align: middle;
		width: 130px;
		/*border: 1px solid red;*/
	}
	.profileVideoSmallLink {
		font: 12px Arial, Helvetica, sans-serif;
	}
	.profileVideoSmallFname {
		font-size: 10px;
		margin: 0px;
		padding: 0px;
		/*color: #333333;*/
		line-height: 20px;
	}
	
	.profileVideoMedium {
		padding-left: 10px;
		padding-top: 10px;
		padding-bottom: 10px;
		width: 590px;
		border-bottom: 1px solid #e8e8e8;
	}
	.profileVideoMediumInfo {
		padding-left: 5px;
		vertical-align: middle;
		width: 460px;
		/*border: 1px solid red;*/
	}
	.profileVideoMediumThumb {
		width: 130px;
		height: 100px; 
		text-align: center;
		vertical-align: top;
	}
	
/* video profile end */
/* photo profile */
	.profilePhotoSmall {
		float: left;
		padding-left: 30px;
		padding-top: 10px;
		padding-bottom: 10px;
		width: 110px;
		height: 100%;
	}
	.profilePhotoSmallDescription {
		width: 100%;
		height: 100%;
	}
	.profilePhotoSmallPic {
		width: 100px;
		height: 100px; 
		text-align: center;
		vertical-align: top;
		margin-bottom: 5px;
		/*border: 1px solid red;*/
	}
	.profilePhotoSmallInfo {
		vertical-align: bottom;
	}
	.profilePhotoSmallLink {
		font: 12px Arial, Helvetica, sans-serif;
	}
	.profilePhotoSmallFname {
		color: black;
		font-size: 10px;
		margin: 0px;
		padding: 0px;color: #333333;
		line-height: 20px;
	}
	
	.profilePhotoMedium {
		padding-left: 10px;
		padding-top: 10px;
		padding-bottom: 10px;
		width: 590px;
		border-bottom: 1px solid #e8e8e8;
	}
	.profilePhotoMediumInfo {
		padding-left: 5px;
		vertical-align: middle;
		width: 460px;
		/*border: 1px solid red;*/
	}
	.profilePhotoMediumThumb {
		width: 130px;
		height: 100px; 
		text-align: center;
		vertical-align: top;
	}
/* photo profile end */
/* users profile */
	.mmUserProfile {
		width: 340px;
		margin-bottom: 10px;
/* 		border: 1px solid #e8e8e8; */
/* 		border: 1px solid #349934; */
	}
	.mmUserProfileImg {
		width: 50px;
		padding: 5px;
		padding-right: 15px;
		text-align: left;
	}
	.mmUserProfileData {
		text-align: left;
		padding-top: 5px;
	}
	.mmUserProfileLinks {
		padding-top: 5px;
		padding-left: 10px;
		width: 200px;
		text-align: left;
	}

	.medProfile {
		width: 770px;
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.groupMedProfile {
		width: 585px;
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.medProfilePic {
		width:120px;
		text-align: center;
	}
	.medProfileInfo {
		border-right: 1px solid #e8e8e8; 
		width: 450px;
	}
	.groupMedProfileInfo {
		width: 450px;
	}
	.medProfileLinks {
		width: 200px;
		padding-left: 20px;
		/*line-height: 2;*/
	}
	.groupMedProfileLinks {
		
	}
	.groupMedProfileLinks a {
		/*color: #444444;*/
	}
	.groupMedProfileLinks img {
		margin-right: 2px;
		position: relative;
		top: 3px;
	}
	.groupMedProfileAdditionalLinks {
		margin-top: 5px;
	}
	.medProfileLinks div {
		margin-top:5px;
	}
	.medProfileLinks img {
		margin-right: 10px;
		position: relative;
		top: 3px;
	}
	.medProfileInfoLeft {
		width: 150px;
	}
	.profileUserSmallest {
		float: left;
		text-align: center;
		padding-left: 29px;
		padding-right: 29px;
		padding-top: 10px;
		padding-bottom: 10px;
		width: 110px;
		height: 130px;
	}
	
	.profileUserSmall {
		float: left;
		padding-left: 30px;
		padding-top: 10px;
		padding-bottom: 10px;
		width: 110px;
		/*height: 100%;*/
		height: 200px;
	}
	.profileUserSmaller {
		float: left;
		padding-left: 30px;
		padding-top: 10px;
		padding-bottom: 10px;
		width: 110px;
		/*height: 100%;*/
		height: 160px;
	}
	.anotherProfileUserSmaller {
		float: left;
		padding-left: 30px;
		padding-top: 10px;
		/*padding-bottom: 10px;*/
		width: 110px;
		/*height: 100%;*/
		height: 145px;
	}
	.profileUserSmallPic {
		width: 108px;
		height: 115px; 
		text-align: center;
		vertical-align: top;
		margin-bottom: 5px;
		/*border: 1px solid red;*/
	}
	.profileUserSmallInfo {
		vertical-align: bottom;
	}
	.profileUserSmallLink {
		color: #339933;
	}
	.offline {
		color: #999999;
		font-weight: bold;
		font-size:10px;
	}
	.online {
		color: #339933;
		font-weight: bold;
		font-size:10px;
	}
/* users profile end */
/* blogs profile */
	.profileBlogMedium {
		margin-top:20px;
	}
	.blogsDescription {
		float: left;
		padding: 40px;
		padding-top: 10px;
		padding-bottom: 10px;
		width: 210px;
	}
	.blogName,.blogSeen,.blogComments {
		font-size: 10px;
		color: #333333;
		line-height: 20px;
	}
/* blogs profile end */
/* group profile */
	.profileGroupSmall {
		height:108px;
/* 		border: 1px solid red; */
		margin-top: 15px;
		margin-bottom: 5px;
		width: 585px;
	}
	.profileGroupSmallDescription {
		margin-left: 20px;
	}
	.profileGroupSmallThumb {
		width: 110px;
		height: 108px;
		text-align: center;
	}
	.profileGroupSmallInfo {
		padding-left: 10px;
		border-right: 1px solid #e8e8e8;
		width: 200px;
		/*width: 157px;*/
	}
	.groupDescription {
		margin-left: 20px;
		margin-top: 5px;
		margin-bottom: 5px;
		height: 10em;
		width: 200px;
		overflow: hidden;
	}
	
	.profileSmallGroupSmall {
		float: left;
		width: 290px;
		height: 112px;
 		margin-bottom: 5px;
		margin-top: 5px;
	}
	.profileSmallGroupSmallInfo {
		padding-left: 10px;
		width: 200px;
	}
	.profileSmallGroupSmallDescription {
		margin-left: 10px;
	}
	
	.groupMediumDIV {
		width: 770px;
		margin-bottom: 20px;
		margin-top: 20px;
	}
	.groupSorting {
		padding: 10px 5px 5px 5px;
		border-bottom: 1px solid #e8e8e8;
		width: 760px;
	}
	.groupSorting a {
		color: #3535AE;
		font-size: 10px;
	}
	.groupMediumPic {
		width:110px;
		height: 110px;
	}
	.groupMediumDescription {
		padding-left: 25px;
		padding-right: 25px;
		width: 410px;
		border-right: 1px solid #e8e8e8;
	}
	.groupMediumDescription {
		color: #999999;
		font-size: 10px;
	}
	.groupMediumInfo {
		 padding-left: 25px;
		 font-size: 10px;
	}
	.groupList {
		margin-top: 10px;
	}
	
	
	.topicSort {
		/*width: 580px;*/
		margin-top: 10px;
		padding: 0px 5px 5px 5px;
	}
	.topicSort img {
		position: relative;
		top: 3px;
	}
	.topicPosts {
		margin-top: 10px;
	}
	.post {
		width: 590px;
		margin-top:10px;
		margin-bottom:10px;
	}
	.postText {
		padding-left: 10px;
		padding-right: 10px;
	}
	.postPic {
		width: 60px;
		text-align: center;
		padding-top: 4px;
	}
	.postLinks {
		text-align:right;
		margin-bottom: 10px;
		border: 1px solid #999999;
		border-top: none;
		padding: 2px;
		background: #efefef;
	}
	.postLinks img {
		position: relative;
		top: 3px;
	}
/* group profile end */
/* groups side */
	.groupSideTab {
		text-align: left;
		width: 150px;
		height: 22px;
		padding-left: 10px;
		padding-top: 7px;
		background-image: url('../img/back_menu_active_groups_small.png');
		margin-bottom: 20px;
		margin-left: 0px;
		margin-top: 10px;
	}
	.groupSide {
		text-align: center;
		width: 160px;
		padding-right: 20px;
	}
	.groupSidePic {
		margin-top: 15px;
		margin-bottom: 10px;
	}
	.groupSideLinks {
		text-align: left;
		padding-left: 5px;
		margin-bottom: 5px;
	}
	.groupSideLinks a {
		color: #3535AE;
		font-size: 11px;
		/*line-height: 1.3;*/
	}
	.groupSideInfo {
		padding-left: 5px;
		text-align: left;
	}
	.groupSideDescription {
		margin-top: 10px;
		width: 140px;
	}
	.groupSideInfo a {
		color: #3535AE;
		font-size: 9px;
	}
/* groups side end */
/* profile all */
	.profileCreated {
		font-size: 9px;
		color: #999999;
		line-height: 20px;
	}
/* profile all end */

/* comments */
	.commentTableLarge {
		width: 770px;
		padding-top: 15px;
		text-align: center;
	}
	
	.commentTable {
		width: 570px;
		padding-top: 15px;
		text-align: center;
	}

	.commentTableThin {
		width: 338px;
		padding-top: 15px;
		text-align: center;
	}
	
	.commentAvatar {
		width: 90px;
		text-align: left;
		vertical-align: top;
	}
	
	.avatar {	
		padding-left: 20px;
		padding-right: 20px;
	}
	
	.commentText {
		text-align: left;
		vertical-align: top;
	}
	
	.writeComment {
		text-align: right; 
		padding: 8px; 
		padding-right: 20px;
	}
/* comments end */

/* main tabs */
	.mainTabsTable {
		width: 950px;
		margin:0;
		padding:0;
		border: none;
	}
	.mainTab {
		float:left;
		border-right: 1px solid white;
		border-bottom: 1px solid white;
		margin:0;
		padding:0;
		height: 20px;
	}
	.mainTab a {
		color: white;
		font-weight: bold;
		font-size: 10px;
		font-family: Verdana;
		text-decoration: none;
	}
	.mainTab a:hover {
		color: #E1938B;
	}
	.mainTab1 {
		position:relative;
		top:-5px;
		padding: 0px 7px 0px 7px;
		margin:0;
	}
	.startTab { background-color: #ffa100; background-image: url('../img/start_back.gif'); }
	.videoTab {	background-color: #9800cc; background-image: url('../img/video_back.gif'); background-repeat: repeat-x; }
	.photoTab {	background-color: #008b93; background-image: url('../img/photo_back.gif'); }
	.blogsTab { background-color: #BA0167; background-image: url('../img/blogs_back.gif'); }
	.groupsTab { background-color: #000099; background-image: url('../img/groups_back.gif'); }
	.searchTab {	background-color: #339933; background-image: url('../img/users_back.gif'); }
	.profileTab { background-color: #ff3300; background-image: url('../img/profile_back.gif'); }
	.messagesTab { background-color: #3366FF; background-image: url('../img/msg_back.gif'); }
	.invTab { background-color: #DF0086; background-image: url('../img/inv_back.gif'); }
	.contactsTab { background-color: #006600; background-image: url('../img/friends_back.gif'); }
	
	.selectedVideo { border-bottom: 1px solid #9800cc; }
	.selectedFriends { border-bottom: 1px solid #006600; }
	.selectedInv { border-bottom: 1px solid #DF0086; }
	.selectedMsg { border-bottom: 1px solid #3366FF; }
	.selectedProfile { border-bottom: 1px solid #ff3300; }
	.selectedUsers { border-bottom: 1px solid #339933; }
	.selectedGroups { border-bottom: 1px solid #000099; }
	.selectedBlogs { border-bottom: 1px solid #BA0167; }
	.selectedPhoto { border-bottom: 1px solid #008b93; }
	.selectedStart { border-bottom: 1px solid #ffa100; }
	
	.subTab {
		height: 20px;
		text-align:left;
		padding-top: 5px;
		padding-left: 10px;
		font-family: Verdana;
		font-size: 11px;
		background-image: none;
	}
	.subTab a {
		/*font-weight: bold;*/
	}
	.submenuTable {
		width: 100%; 
		margin: 0;
		padding:0;
		margin-bottom: 1px;
	}
	.tl {
		/*float:left;*/
	}
	.tr {
		/*float:left;*/
	}

	.sideMenuLinks {
		float:right;
		margin-left: 3px;
		font-weight: bold;
		font-size: 10px;
		font-family: Verdana;
	}
/* main tabs end */


/*topicsList*/
	.groupTopicsList {
		margin-top:10px;
		width: 590px;
	}
	.groupTopicsCount {
		/*margin-top: 10px;*/
		color: #3535AE;
		/*float:left;*/
	}
	.groupTopicsJoin {
		/*margin-top: 10px;*/
		color: #3535AE;
		/*float:right;*/
	}
	.groupTopicsListInfo {
		width: 100%;
		border-bottom: 1px solid #999999;
		/*margin-left:10px;*/
		/*margin-right:10px;*/
	}
	.groupTopicsListInfo td {
		padding: 10px;
		padding-top:0;
		padding-bottom:5px;
	}
	.groupTopicsListPaging {
		/*padding-left: 20px;*/
		/*padding-right: 20px;*/
	}
	.groupTopicsListImage {
	}
	.groupTopicsListTInfo {
		padding-left: 10px;
		text-align: left !important;
	}
	.topicInfoTable {
		/*margin-left: 20px;*/
		/*margin-top: 20px;*/
		width: 590px;
		padding:0;
		border-collapse: collapse;
	}
	.topicInfoTable th{
		padding:0px 5px 0px 5px;
		height: 30px;
		color: #3434AE;
	}
	.topicInfoTable td{
		border-bottom: 1px solid #999999;
		padding:5px;
		text-align: center;
	}
	
	.topicFirstPost {
		padding-left: 20px;
		padding-right: 20px;
		width: 570px;
	}
	.groupMembersSmall {
		float:left; 
		width: 70px;
		height: 70px;
		text-align: center;
	}
	.groupMembersSmallImg {
		margin: auto;
		width: 50px;
		height: 50px;
	}
	.groupMembersTD {
		padding-left: 30px;
	}
	.groupMembers {
		padding-top: 8px;
	}
/*topicsList end*/
/*main*/
	.mainPageTable {
		margin-right: 7px;
	}
/*main end*/

/* login form */
	.loginForm {
		padding:10px;
		width: 31%;
		text-align: left;
		color: white;
	}
	.loginForm form {
		padding:5px;
		margin:0;
	}
	.username {
		margin-bottom: 0px;
		margin-left: 0px;
		width: 120px;
	}
	.password {
		margin-left: 0px;
		width: 120px;
	}
/* login form end */

/* search */
	.searchTable {
		width:770px;
		margin-top: 10px;
	}
	.searchTable td {
		padding-left:5px;
		padding-right:5px;
	}
	.searchTable select {
		font-size: 10px;
	}
	#searchForGender {
		width: 116px;
	}
	#selCountry {
		width: 150px;
	}
	#selCity {
		width: 150px;
	}
	.searchSection {
		padding-bottom: 5px;
	}
	#Search0 {
		padding-top: 7px;
		padding-bottom: 10px;
		padding-left: 15px;
	}
/* search end */


/* inputs */
	textarea {
		width: 260px;
		height: 80px;
		border: 1px solid black;
	}
	select {
		font-size: 12px;
	}
	
	.textInput {
		color: #000000; 
		font:11px Verdana,Arial,Helvetica,sans-serif;
		font-size: 11px;
		border: 1px solid black;
	}
	.textWidth {
		width: 260px;
	}
	.selectWidth {
		width: 264px;
	}
	.browseWidth {
		width: 264px;
	}
	.submit {
		font-size: 12px;
	}
/* inputs end */

.alignR {
	text-align: right;
}
.alignL {
	text-align: left;
}

.tdSendLabel {
	vertical-align: top;
	padding: 2px;
	width: 190px;
	padding-left: 40px;
}
.tdSendValue {
	vertical-align: top;
	width: 360px;
	padding: 2px;
}

.tdRegLabel {
	vertical-align: top;
	padding: 2px;
	width: 130px;
	padding-left: 40px;
}
.tdRegValue {
	vertical-align: top;
	width: 420px;
	padding: 2px;
}
.explanations {
	padding-left: 40px;
	padding-bottom: 8px;
	font-size: 10px;
	font-weight: normal;
	color: #999999;
}

.greyRect {
	background-color: #F3F3F3;
	border: 1px solid #e8e8e8;
	width: 340px;
	height: 250px;
	margin-left: 20px;
}

.greyText10 {
	font-size: 10px;
	font-weight: normal;
	color: #999999;
}

.divCategory {
	padding-top: 1px;
	padding-bottom: 2px;
}
.tdCatsDescription {
	padding-left: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0px;
}
.tagsArea {
	padding-top: 5px;
}
.buttonSmall {
	border: 1px solid #cccccc;
	font-weight: bold;
	width: auto; /*IE da nqma default padding??*/
	overflow: visible; /*IE da nqma default padding??*/
	height: 21px;
	background-image: url('../img/btnSmall.gif');
	background-repeat: repeat-x;
	padding: 0px 10px 0px 10px;
	font-family: Arial;
	font-size: 12px;
	margin:0;
	margin-top: 10px;
	color: #575757;
}



.buttonBig {
	
	border: 1px solid #cccccc;
	font-weight: bold;
	width: auto; /*IE da nqma default padding??*/
	overflow: visible; /*IE da nqma default padding??*/
	height: 32px;
	background-image: url('../img/btnBig.gif');
	background-repeat: repeat-x;
	padding: 0px 10px 0px 10px;
	font-family: Arial;
	font-size: 12px;
	margin:0;
	color: #575757;
}

.buttonLogin {
	border: 1px solid #cccccc;
	font-weight: bold;
	width: auto; /*IE da nqma default padding??*/
	overflow: visible; /*IE da nqma default padding??*/
	height: 21px;
	background-image: url('../img/btnSmall.gif');
	background-repeat: repeat-x;
	padding: 0px 10px 0px 10px;
	font-family: Arial;
	font-size: 12px;
	margin:0;
	color: #575757;
}
.helloMsg {
	float:right;
	font-weight: bold;
	margin-right: 5px;
	font-size: 10px;
}

.folderSelect {
	width: 150px;
}
/*sistemni saob6teniq*/
	.errorLine {
		margin-top: 5px;
		text-align: center;
		padding-top: 4px; 
		padding-bottom: 10px;
		border: 1px solid #e8e6f4;
		background-color:#fffae5; 
		color: red;
		font-size: 11px;
	}
	.errorLine img {
		position:relative;
		top:3px;
	}
	
	.successLine {
		margin-top: 5px;
		text-align: center;
		padding-top: 4px; 
		padding-bottom: 10px;
		border: 1px solid #e8e6f4;
		background-color:#fffae5; 
		color: green;
		font-size: 11px;
	}
	.successLine img {
		position:relative;
		top:3px;
	}
	.warningLine {
		margin-top: 5px;
		text-align: center;
		padding-top: 4px; 
		padding-bottom: 10px;
		border: 1px solid #e8e6f4;
		background-color:#fffae5; 
		color: #CA5900;
		font-size: 11px;
	}
	.warningLine img {
		position:relative;
		top:3px;
	}
/*sistemni saob6teniq end */

/* advertisement */
	.advTable td {
		border: 1px solid #FFA100;
		padding-left: 2px;
		padding-right: 2px;
	}
	.advTable {
		margin-top: 20px;
		width: 590px;
		border-collapse: collapse;
	}
/* advertisement end */
.rightFavorite {
	border-left: 1px solid #e8e8e8; 
	width: 200px;
	padding-left: 20px;
}
.rightFavorite img {
	margin-right: 2px;
	position: relative;
	top: 5px;
}
.rightFavorite div{
	margin-top:5px;
}
.emoticons {
	margin-left:2px;
	margin-right:2px;
	position:relative; 
	top:5px;
}
.kbdTool {
	background: #ba0b0b;
	font-size: 11px;
	color: white;
	font-weight: bold;
	border: none;
	/*padding:0px;*/
	padding:1px 3px 1px 3px;
}

.jsDebug {
	position:absolute;
	top:0;
	left:0;
	overflow:auto;
	width: 400px;
	border: 1px solid black;
	background: white;
}

.fieldDescription {
	color: #999999;
	font-size: 10px;
	font-weight: bold;
}


.linkButton {
	display:block;
	float:left;
	padding:0px 1px 0px 1px;
	width: 12px;
	height: 14px;
	text-align:center;
	background: url('../img/ajaxBtn.gif');
	border: 1px solid #999999;
	font-size: 10px;
	margin:2px;
	color: #BE0F6F;
	font-weight: bold;
}
.linkButton:hover {
	text-decoration: none;
}
.linkButtonSelected {
	background: #999999;
}