/* universal */
	html, body {
		width: 100%;
		height: 100%;
		margin: 0px;
		padding: 0px;
		font-size: 11px;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		/*color:#543980;*/
		background-color: white;
		
		behavior: url('js/csshover.htc');
	}
	
	html *, body * {
		font-size: 11px;
		font-family: Verdana, Arial, Helvetica, sans-serif;
	}
	
	a {
		text-decoration: none;
	}
	
	a img {
		border: none;
	}
	
	form {
		margin:0;
		padding:0;
	}
	.inline {
		display:inline;
	}
	
	.redb {
		border: 1px solid red !important;
	}
	
	.vtop {
		vertical-align: top;
	}
	.greenb {
		background:#e5ffc8 !important;
	}
	
	.flex {
		width: 100%;
	}
	.half {
		width: 50%;
	}
	.third {
		width: 33%;
	}
	.separator {
		padding-left: 5px;
		padding-right: 5px;
	}
	.separatorB {
		padding-left: 30px;
		padding-right: 30px;
	}
	.left {
		text-align: left;
	}
	.right {
		text-align: right;
	}
	.center {
		text-align: center;
	}
	.justify {
		text-align: justify;
	}
	.bold {
		font-weight: bold;
	}
	.tableLayout {
		 float:left;
		 width: 200px;
		 height: 40px;
	}
	.tableLayoutMatches {
		 float:left;
		 width: 180px;
		 height: 40px;
	}
	.tableLayout select {
		width: 190px;
	}
	.fLeft {
		float:left !important;
	}
	.fRight {
		float:right !important;
	}
	.left10 {
		margin-left: 10px !important;
	}
	.left20 {
		margin-left: 20px !important;
	}
	.right10 {
		margin-right: 10px !important;
	}
	.top5 {
		margin-top: 5px !important;
	}
	.top10 {
		margin-top: 10px !important;
	}
	.top20 {
		margin-top: 20px !important;
	}
	.top3 {
		margin-top: 3px;
	}
	.bottom10 {
		margin-bottom: 10px !important;
	}
	.bottom20 {
		margin-bottom: 20px !important;
	}
	.pLeft5 {
		padding-left: 5px !important;
	}
	.pLeft10 {
		padding-left: 10px !important;
	}
	.pLeft20 {
		padding-left: 18px !important;
	}
	.pRight10 {
		padding-right: 10px !important;
	}
	.pTop10 {
		padding-top: 10px !important;
	}
	.pTop3 {
		padding-top: 3px;
	}
	.pBottom10 {
		padding-bottom: 10px !important;
	}
	.vseparator {
		height: 2px;
		line-height: 2px;
	}
	.textInput {
		border: 1px solid black;
		height: 20px;
	}
	.button {
		border: 1px solid white;
		background: #5e4191;
		background-image: url('../img/btnback.png');
		color: white;
		font-size: 13px;
		height: 28px;
		/*width: auto; /*IE da nqma default padding??*/
		/*overflow: visible; /*IE da nqma default padding??*/
		background-repeat: repeat-x;
		padding: 0px 0px 0px 0px !important;
		font-family: Arial;
		margin:0;
	}
	.headerTexLinks {
		color: white;
		font-size: 11px;
	}
	.headerMin {
		background-image: url('../img/headbackmin.png');
		width: 170px;
		height:22px;
	}
	.headerMin div {
		margin-left: 10px;
		margin-bottom: 2px;
		color: white;
		font-size: 12px;
	}
	.headerMid {
		background-image: url('../img/headbackmid.png');
		width: 170px;
		height:22px;
	}
	.headerMid div {
		margin-left: 10px;
		margin-bottom: 2px;
		color: white;
		font-size: 12px;
	}
	.headerBiggest {
		background-image: url('../img/headbackbiggest.png');
		width: 770px;
		height:22px;
	}
	.headerBiggest div {
		margin-left: 10px;
		margin-bottom: 2px;
		color: white;
		font-size: 12px;
	}
	.headerBig {
		background-image: url('../img/headbackbig.png');
		width: 590px;
		height:22px;
	}
	.headerBig div {
		margin-left: 10px;
		margin-bottom: 2px;
		color: white;
		font-size: 12px;
	}
	.headerSmall {
		background-image: url('../img/headbacksmall.png');
		width: 170px;
		height:22px;
	}
	.headerSmall div {
		margin-left: 10px;
		margin-bottom: 2px;
		color: white;
		font-size: 12px;
	}
	.headerBorder {
		border-bottom:3px solid #fabc01;
	}
	.bullet {
		/*margin-right: 5px;*/
	}
	.bottomMin {
		background-image: url('../img/bottombackmin.png');
		height: 4px;
		line-height: 4px;
	}
	.bottomMid {
		background-image: url('../img/bottombackmid.png');
		height: 4px;
		line-height: 4px;
	}
	.lh5 {
		line-height: 5px !important;
		height: 5px !important;
	}
	.lh10 {
		line-height: 10px !important;
		height: 10px !important;
	}
	.lh17 {
		line-height: 17px !important;
		height: 17px !important;
	}
	.lhr17 {
		line-height: 17px !important;
	}
	.lh20 {
		line-height: 20px !important;
		height: 20px !important;
	}
	.lh25 {
		line-height: 23px !important;
		height: 23px !important;
	}
	.link {
		color: #5a3c8b;
		text-decoration: none;
		background: url('../img/dottedbordermenu.gif') repeat-x 100% 100%;
		padding-bottom: 1px;
		white-space: nowrap;
	}
	.link:hover {
		background: url('../img/fullbordermenu.gif') repeat-x 100% 100%;
	}
	.linkNormal {
		color: #5a3c8b;
		text-decoration: none;
	}
	.advertisement {
		font-size: 8px;
		color: #9888b3;
	}
	.rightSquare {
		width: 300px;
	}
	.kare {
		width: 170px;
	}
	.noBorder {
		border: none !important;
	}
	.tableCell {
		width: 47%;
		float:left;
		padding-left: 10px;
		/*border: 1px solid red;*/
	}
	.nbWidth {
		width: 770px;
	}
	.tbWidth {
		width: 590px;
	}
	.sbWidth {
		width: 450px;
	}
	.list {
		/*border: 1px solid red;*/
		padding-left:10px;
		list-style-image: url('../img/bullet.png');
	}
	.list li {
		margin-bottom: 10px;
	}
	.listPurple {
		/*border: 1px solid red;*/
		padding-left:10px;
		list-style-image: url('../img/bulletPurple.gif');
	}
	.listPurple li {
		margin-bottom: 10px;
	}
	
/* end universal */

/*loading*/
	.loadingMiddle {
		position: absolute;
		z-index: 10000;
		margin-left: -20px;
		width: 450px;
		height:250px;
		background-image: url('../img/loading.gif');
		background-position: center center;
		background-repeat: no-repeat;
		/*background-color: #DEDEDE;*/
	}
	.loadingProfile {
		position: absolute;
		z-index: 10000;
		margin-left: -10px;
		width: 590px;
		height:455px;
		background-image: url('../img/loading.gif');
		background-position: center center;
		background-repeat: no-repeat;
		/*background-color: #DEDEDE;*/
	}
	.loadingVote {
		position: absolute;
		z-index: 10000;
		margin-top: -10px;
		width: 200px;
		height:52px;
		left:0;
		background-image: url('../img/loading.gif');
		background-position: center center;
		background-repeat: no-repeat;
		/*background-color: #DEDEDE;*/
	}
/*loading end*/

/*tabs*/
	.tabsMiddle {
		width: 450px;
	}
	.rightTabStub{
		height:20px;
		float:right;
		width: 8px;
		border-bottom: 1px solid #dad2ec;
	}
	.leftTabStubMiddle {
		height:20px;
		float:right;
		width: 233px;
		border-bottom: 1px solid #dad2ec;
	}
	.tabs {
		width: 100%;
	}
	.tabSelected {
		background-image: url('../img/tabSelected.png') !important;
	}
	.tab {
		display:block;
		background-image: url('../img/tab.png');
		float:right;
		width:100px;
		padding-right: 4px;
		height: 18px;
		text-align:center;
		padding-top:3px;
		cursor: pointer;
	}
	.tab:hover {
		text-decoration:underline;
	}
	.tabsTableMiddle {
		/*width: 100%;*/
		width: 420px;
		margin-top:21px;
		border: 1px solid #dad2ec;
		border-top: none;
		border-bottom: none;
		padding-left: 20px;
	}
	
	.tabsBottomMid {
		background-image: url('../img/tabsBottomMid.png');
		height:37px;
	}
/*tabs end*/

/* main table */
	.mainTable {
		width: 100%;
		height: 100%;
		margin: 0px;
		padding: 0px;
		margin-top: 5px;
		margin-left: auto;
		margin-right: auto;
	}
	.mainTop {
		width: 100%;
		height: 10px;
		text-align: center;
	}
	.mainTopLogo {
		width: 960px;
		height: 68px;
		text-align: center;
		position: relative;
	}
	.mainTopBanner {
		position: absolute;
		top:0;
		right: 0;
		/*z-index: 1000;*/
		color: white;
		margin-right: 20px;
		margin-top: 5px;
	}
	.mainTopMenu {
		width: 960px;
		height: 28px;
		background:url('../img/topMenuBack.png');
		color: white;
	}
	.mainTopMenu a {
		color:white;
		text-decoration: none;
		font-size: 12px;
	}
	
	.mainLeft {
		width: 170px;
		height: 400px;
		text-align: left;
		padding-top: 10px;
	}
	
	.leftMenu {
		background: #f2f0f9;
	}
	.leftMenu .left {
		border-left: 1px solid #dad2ec;
		line-height: 20px;
		height: 20px;
		width: 10px;
	}
	.leftMenu .pRight10 {
		border-right: 1px solid #dad2ec;
		line-height: 20px;
		height: 20px;
		width: 110px;
	}
	.leftMenu a {
		color: #5a3c8b;
		text-decoration: none;
		background: #f2f0f9 url('../img/dottedbordermenu.gif') repeat-x 100% 100%;
		padding-bottom: 2px;
		white-space: nowrap;
	}
	.leftMenu a:hover {
		background: #f2f0f9 url('../img/fullbordermenu.gif') repeat-x 100% 100%;
	}
	.mainCenterNone {
		width: 790px;
		padding-left: 20px;
		height: 400px;
		text-align: left;
	}
	.mainBottom {
		width: 960px;
		height: 70px;
		text-align: center;
		background: #73599c;
		border-top: 4px solid #fabc01;
		color:white;
		vertical-align: top;
	}
	.mainBottom a {
		color: white;
	}
	.mainBottom .fRight {
		font-weight: bold;
	}
	.mainBottom .fRight div {
		margin-top:5px;
		color: #ab9bc4;
		font-weight: normal;
		font-size: 10px;
	}
	.mainCenterTall {
		width: 590px;
		height: 400px;
		text-align: left;
	}
	
	.mainRightTall {
		width: 160px;
		height: 400px;
		text-align: left;
	}
	
	.mainCenterSquare {
		width: 450px;
		height: 400px;
		text-align: left;
	}
	
	.mainRightSquare {
		width: 300px;
		height: 400px;
		text-align: left;
	}
	
/* end main table */

/*leftLoginForm*/
	.leftLoginForm {
		background: url('../img/loginFill.png');
		width: 170px;
		height: 120px;
	}
	.leftLoginTop {
		background: url('../img/loginTop.png');
		width: 170px;
		height: 5px;
		line-height: 5px;
	}
	.leftLoginBottom {
		background: url('../img/loginBottom.png');
		width: 170px;
		height: 5px;
		line-height: 5px;
	}
	
	.leftLoginForm a {
		color:black;
		
		text-decoration: none;
		background: url('../img/dottedborderlogin.gif') repeat-x 100% 100%;
		padding-bottom: 2px;
		white-space: nowrap;
	}
	.leftLoginForm a:hover {
		background: url('../img/fullborderlogin.gif') repeat-x 100% 100%;
	}
	.leftLoginForm td {
		padding: 3px;
	}
	#username {
		width: 90px;
	}
	#pass {
		width: 90px;
	}
	.leftLoginForm label {
		color: black;
	}
	.loginRegister {
		color:white;
		text-decoration: none;
		font-size:9px;
	}
	#msgNotify {
		font-size: 9px;
	}
	.checkNewMsg {
		/*position:relative;*/
		/*top: 3px;*/
		background:none !important;
	}
/*leftLoginForm end*/
/*fonts*/
	.size9 {
		font-size: 9px;
	}
	.size10 {
		font-size: 10px;
	}
	.size11 {
		font-size: 11px;
	}
	.size12 {
		font-size: 12px;
	}
	.sizeBig {
		font-size: 20px;
	}
/*fonts end*/
/*cvetove*/
	.white {
		color: white;
	}
	.red {
		color: red !important;
	}
	.green {
		color: green;
	}
	.yellow {
		color: #f1a401;
	}
	.purple {
		color:#896ebb;
	}
	.purple2 {
		color: #5a3c8b;
	}
	.black {
		color: black;
	}
	.grey {
		color: #666666;
	}
/*cvetove end*/
/*sistemni saob6teniq*/
	.errorLine {
		margin-top: 10px;
		text-align: center;
		padding-top: 4px; 
		padding-bottom: 10px;
		/*border: 1px solid #e8e6f4;*/
		/*background-color:#fffae5;*/ 
		color: red;
		font-weight: bold;
		font-size: 11px;
	}
	.errorLine img {
		position:relative;
		top:3px;
	}
	
	.successLine {
		margin-top: 10px;
		text-align: center;
		padding-top: 4px; 
		padding-bottom: 10px;
		/*border: 1px solid #e8e6f4;*/
		/*background-color:#fffae5;*/ 
		color: green;
		font-weight: bold;
		font-size: 11px;
	}
	.successLine img {
		position:relative;
		top:3px;
	}
	.warningLine {
		margin-top: 10px;
		text-align: center;
		padding-top: 4px; 
		padding-bottom: 10px;
		/*border: 1px solid #e8e6f4;*/
		/*background-color:#fffae5;*/ 
		color: #CA5900;
		font-weight: bold;
		font-size: 11px;
	}
	.warningLine img {
		position:relative;
		top:3px;
	}
/*sistemni saob6teniq end */


/*debug*/
	.jsDebug {
		position:absolute;
		top:0;
		left:0;
		overflow:auto;
		width: 400px;
		border: 1px solid black;
		background: white;
	}


/* profiles */
	.smallProfileLink {
		font-size: 11px;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		color: #000000;
	}
	
	.smallestProfile {
		width: 120px;
		float:left;
		height:200px;
		margin-right: 20px;
		margin-top: 20px;
	}
	
	.smallProfilePicOnline {
		width: 112px;
		height: 106px;
		border: 2px solid #549f00;
		background: #e5ffc8;
		text-align: center;
		padding-top: 6px;
	}
	.smallProfilePicOffline {
		width: 112px;
		height: 106px;
		border: 2px solid #DFDDE5;
		background: #f2f0f9;
		text-align: center;
		padding-top: 6px;
	}
	
	.smallProfileVip {
		border: 2px solid #feca2c;
	}
	.vipPic {
		height: 10px;
	}
	
	.smallProfile {
		width: 590px;
	}
	.smallProfileHead {
		background-image: url('../img/smallProfileHead.png');
		height: 24px;
	}
	.smallProfileHeadVIP {
		background-image: url('../img/smallProfileHeadVip.png');
	}
	
	.smallProfileName {
		font-weight: bold;
		color: black;
		padding-left: 140px;
		float:left;
		margin-top: 3px;
	}
	.smallProfileBtns {
		font-size: 10px;
		float:right;
		margin-right: 10px;
		margin-top: 3px;
		width: 70px;
		height: 16px;
		text-align: center;
		color:white;
	}
	.offlineBtn {
		background-image: url('../img/offline.gif');
	}
	.onlineBtn {
		background-image: url('../img/online.gif');
	}
	.updatedBtn {
		background-image: url('../img/updated.gif');
		width: 80px;
	}
	.picPlaceholder {
		width: 114px;
		height: 108px;
		position:absolute;
		left: 10px;
		top: -20px;
		text-align: center;
		padding-top: 6px;
		background-image: url('../img/picPlaceholder.png');
	}
	.picPlaceholderVip {
		background-image: url('../img/picPlaceholderVip.png');
	}
	.smallProfileBody {
		height: 80px;
		border-left: 1px solid #dad2ec;
		border-right: 1px solid #dad2ec;
	}
	.smallProfileBodyVip {
		border-left: 1px solid #fad37b;
		border-right: 1px solid #fad37b;
	}
	.smallProfileBottom {
		height: 46px;
		/*padding-bottom: 10px;*/
		text-align:center;
		background-image: url('../img/smallProfileBottom.png');
		vertical-align: bottom;
	}
	.smallProfileBottomVip {
		background-image: url('../img/smallProfileBottomVip.png');
	}
	.smallProfileInfo {
		position: absolute;
		left: 140px;
	}
	
	.profileInfo {
		position: absolute;
		left: 260px;
		top: 0;
	}
	.picPlaceholderNormal {
		width: 114px;
		height: 108px;
		text-align: center;
		padding-top: 6px;
		background-image: url('../img/picPlaceholder.png');
	}
	.picPlaceholderNormalVip {
		background-image: url('../img/picPlaceholderVip.png');
	}
	.picPlaceholderNormalOnline {
		background-image: url('../img/picPlaceholderOnline.png');
	}
	.smallerProfile {
		width: 265px;
		height: 125px;
	}
	.isFriend {
		background-image: url('../img/friendBack.gif');
		width:72px;
		height:16px;
		/*padding-left: 12px;*/
		text-align:center;
	}
/* profiles */

/*main*/
	.mainSearch {
		width: 450px;
		/*height: 200px;*/
		background: #f2f0f9;
	}
	.mainSearchTd {
		border-left: 1px solid #dad2ec;
		border-right: 1px solid #dad2ec;
	}
	.searchTable td {
		padding-top:10px;
	}
	.stats {
		background: url('../img/statsBack.png');
		height:132px;
		width:135px;
		/*padding-top: 20px;*/
		padding-left: 20px;
		line-height: 25px;
		font-size: 13px;
	}
	.weddings {
		background: url('../img/weddingsback.png');
		height: 200px;
		width: 300px;
	}
	.buttonReg {
		border: 1px solid #5a3c8b;
		background: #f9bb1b;
		background-image: url('../img/regBtn.png');
		color: #5a3c8b;
		font-size: 13px;
		height: 28px;
		/*width: auto; /*IE da nqma default padding??*/
		/*overflow: visible; /*IE da nqma default padding??*/
		background-repeat: repeat-x;
		padding: 0px 0px 0px 0px !important;
		font-family: Arial;
		margin:0;
		margin: 30px 0 0 30px;
		width: 135px;
		font-weight: bold;
	}
	.specialLinks {
		width: 300px;
		
	}
	.moreVip {
		position: absolute;
		bottom:-35px;
		right: 10px;
	}
/*main end*/


/*forms*/
	.midBottom {
		height: 46px;
		background-image: url('../img/midBottom.png');
	}
	.bigBottom {
		height: 46px;
		background-image: url('../img/smallProfileBottom.png');
	}
	.midBody {
		border-left: 1px solid #dad2ec;
		border-right: 1px solid #dad2ec;
	}
	
	.extraTop {
		border: 1px solid #dad2ec;
		border-bottom: none;
		height: 20px;
	}
	
	.searchQ {
		padding-top: 3px;
		padding-bottom: 3px;
	}
	.inputTd {
		padding-top: 4px;
		padding-bottom: 4px;
	}
	.inputField {
		border: 1px solid black;
		font-size:12px;
	}
	.inputFieldQ {
		border: 1px solid black;
		font-size:12px;
	}
	.inputWidth {
		width: 150px;
	}
/*forms end*/

.msgHead {
	background-image:url('../img/msgHeadBack.png');
	height:20px;
}
.msgHeadLeft {
	border-left: 1px solid #dad2ec;
}
.msgHeadRight {
	border-right: 1px solid #dad2ec;
}


.searchMenuTop {
	height: 26px;
	width: 584px;
}
.searchMenuTopCenter {
	background-image: url('../img/searchMenuTop.png');
}
.searchMenuTopLeft {
	width: 14px;
	background-image: url('../img/searchMenuTopLeft.png');
}
.searchMenuTopRight {
	width: 14px;
	background-image: url('../img/searchMenuTopRight.png');
}

/* info block */
	.infoHead {
		height: 22px;
		background-image: url('../img/infoHead.png');
	}
	.infoLeft {
		width: 8px;
		background-image: url('../img/infoHeadLeft.png');
	}
	.infoRight {
		width: 8px;
		background-image: url('../img/infoHeadRight.png');
	}
/* info block end */

/*gallery*/
	.galleryUser {
		width: 130px;
		height:190px;
		margin: 15px 12px 15px 0px;
		float: left;
		position: relative;
	}
	.galleryProfileHead {
		background-image: url('../img/galleryProfileHead.png');
		height:24px;
	}
	.galleryProfileHeadVip {
		background-image: url('../img/galleryProfileHeadVip.png');
	}
	.galleryProfileBody {
		border: 1px solid #dad2ec;
		border-bottom: none;
		border-top: none;
		height: 130px;
	}
	.galleryProfileBodyVip {
		border: 1px solid #fad37b;
		border-bottom: none;
		border-top: none;
	}
	.galleryProfileBottom {
		background-image: url('../img/galleryProfileBottom.png');
		height: 46px;
	}
	.galleryProfileBottomVip {
		background-image: url('../img/galleryProfileBottomVip.png');
	}
	.galleryProfileInfo {
		position:absolute;
		top: 125px;
		left: 20px;
	}
	.galleryProfileStatus {
		position: absolute;
		bottom: 10px;
		left: 30px;
		text-align: center;
		width: 70px;
		height: 16px;
		color:white;
	}
	
	.galleryBottom {
		background-image: url('../img/galleryBottomBack.png');
		height:38px;
	}
	.galleryMain {
		border: 1px solid #dad2ec;
		border-bottom: none;
	}
	.listEven {
		background-image: url('../img/msgHeadBack.png');
	}
	.listVip {
		background-image: url('../img/listVip.png');
	}
/*gallery end*/

.interface {
	position:absolute; 
	z-index:1000; 
	width:110px;
	height:110px;
	
	background-image: url('../img/overlay.png');
	opacity:0.65;
	filter:alpha(Opacity=65);
}
.ifaceNum {
	position:absolute;
	font-size: 30px;
	width:110px;
	height:80px;
	z-index:500;
	color:white;
	text-align:center;
	padding-top: 30px;
}
.ifaceBorder {
	border: 2px solid #5a3c8b;
}
.checksBack {
	background-image: url('../img/checksBack.png');
	padding-top: 10px;
	padding-left: 10px;
	width:535px;
	height: 57px;
	font-size: 10px;
}

/*search*/
	.bigSearchTable {
		border: 1px solid #dad2ec;
	}
	.fullSearch {
		width: 590px;
	}
	.halfSearch {
		width: 290px;
	}
	.tableBody {
		background-image: url('../img/searchTableBottom.png');
		background-position: bottom;
		background-repeat: repeat-x;
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 10px;
	}
	.tableBodyQ {
		background-image: url('../img/searchTableBottom.png');
		background-position: bottom;
		background-repeat: repeat-x;
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 5px;
	}
	.searchTableSeparator {
		border-right: 1px solid #dad2ec;
		width: 1px;
	}
	.leftText {
		width: 100px;
	}
	.leftSelectTd {
		width: 180px;
	}
	.rightText {
		width: 120px;
	}
	.rightSelectTd {
		width: 155px;
	}
	
	.checksBody {
		background-image: url('../img/checksBody.png');
		height: 39px;
	}
	.checksLeft {
		background-image: url('../img/checksLeft.png');
		height: 39px;
		width: 3px;
	}
	.checksRight {
		background-image: url('../img/checksRight.png');
		height: 39px;
		width: 3px;
		background-repeat: no-repeat;
	}
	.checksBodyQ {
		background-image: url('../img/checksBodyQ.png');
		height: 25px;
	}
	.checksLeftQ {
		background-image: url('../img/checksLeftQ.png');
		height: 25px;
		width: 3px;
	}
	.checksRightQ {
		background-image: url('../img/checksRightQ.png');
		height: 25px;
		width: 3px;
		background-repeat: no-repeat;
	}
/*search end*/

/*custom Rosen*/
	.header {
		background-image: url('../img/back_head.png');
		width: 170px;
		height: 22px;
		border-bottom: 3px solid #fabc01;
	}
	
	.header div {
		margin-left: 10px;
		margin-bottom: 2px;
		color: white;
		font-size: 12px;
		font: bold;
	}
	
	.fill {
		background: #f2f0f9;
		height: 22px;
		border-bottom: 1px solid #fabc01;
	}
	
	.fill div {
		margin-bottom: 2px;
		color:  #5a3c8b;
	}
	
	.fill a {
		margin-bottom: 2px;
		color: #5a3c8b;
		text-decoration: none;
		background: url('../img/dottedbordermenu.gif') repeat-x 100% 100%;
	}
	
	.fill a:hover {
		background: url('../img/fullbordermenu.gif') repeat-x 100% 100%;
	}
	
	.bottom {
		background-image: url('../img/back_bottom.png');
		width: 170px;
		height: 11px;
	}
	
	.bullet {
		margin-left: 20px;
		margin-bottom: 2px;
	}

/*custom Rosen end*/